<div id='notifications'>

  <div ng-repeat='notification in notifications.all' class="notification" tt.fadeonclick>
    <div ng-class='notification.type'>
      {{ notification.message}}
    </div>
  </div>

<div>
