<div id='notifications' class='centered'>

  <div ng-repeat='notification in notifications.all' class="notification">
    <div tt.notification-animation notification="notification">
      <div ng-class='notification.type'>
        {{ notification.message}}
      </div>
    </div>
  </div>

<div>
