<div id='notifications'>

  <div ng-repeat='notification in notifications.all' class="notification">
    <div tt.notification-animation animation-name="notification.animation">
      <div ng-class='notification.type'>
        {{ notification.message}}
      </div>
    </div>
  </div>

<div>
